@import "tailwindcss";
/* Animasi Awan */
.clouds-layer {
  position: absolute;
  inset: 0;
  background-image: url("/clouds.jpg");
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.2;
  animation: moveCloudsDiag 60s linear infinite;
}

/* Gerak diagonal: kanan + bawah */
@keyframes moveCloudsDiag {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 2000px 2000px;
  }
}
